<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
    initial-scale=1.0"
    />
    <title>Weather for {{name}}, {{region}}!</title>
  </head>
  <body>
    <h1>Weather for {{name}}, {{region}}!</h1>
    <p>Today is a {{condition}} day for {{name}}, {{region}}.</p>
    <p>The current temperature is {{temp}} degrees Fahrenheit.</p>
    <p>
      Currently, the humidity is at {{humidity}}%, which makes it feel like
      {{feels_like}} degrees Fahrenheit.
    </p>
    <p>
      The wind speed is {{wind_speed}}mph, with gusts of up to {{gust_wind}}mph.
    </p>
  </body>
</html>
